* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5px 15px rgba(0, 0, 0, 0.5);
}

.nav-links-list {
    display: flex;
    gap: 20px;
    font-size: 24px;
    padding-right: 50px;
}

.navlink {
    color: rgb(2, 72, 133);
}

nav>img {
    width: 200px;
    margin: 10px;
}



.div-bienvenue {
    background-image: url("../images/accueil/bienvenue.png");
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0.1px 15px rgba(0, 0, 0, 0.5);
}

.accueil-texte {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 120px;
    margin-left: 100px;
}

.accueil-nom {
    font-size: 30px;
    color: rgb(206, 206, 206);
}

.accueil-slogan {
    font-size: 60px;
    color: white;
    margin-top: 10px;
}




section{
    margin-inline: 100px;
    margin-block: 60px;
}


.section-news{
    display: flex;
    justify-content: space-between;
}

.caroussel-news{
    display: flex;
    justify-content: end;
}

.section-news input{
    width: 200px;
    height: 25px;
}

.section-news button{
    width: 80px;
    height: 30px;
}

.news-h3{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 550;
}

.infos-section-news{
    width: 350px;
    font-size: 16px;
}

.caroussel-news>button{
    height: 80px;
    width: 30px;
    margin-block: auto;
    background-color: white;
    border: 0px solid black;
    position: relative;
}

.caroussel-news .button-news-gauche{
    border-right: 0px;
}

.caroussel-news .button-news-droite{
    border-left: 0px;
}

.news-div{
    width: 780px;
    height: 250px;
    box-shadow: 0px 0px 15px 0.1px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.news-block-haut>img{
    width: 350px;
    height: 200px;
    margin-block: auto;
    margin-left: 10px;
}

.news-div>ul>li{
    display: none;
}

.news-text{
    margin-left: 20px;
    margin-right: 30px;
}

.news-text>h2{
    font-size: 24px;
}

.news-text>p{
    margin-top: 8px;
    font-size: 16px;
}

.news-block-haut{
    display: flex;
}

.news-div>ul>li.news-active{
    display: initial;
}

.news-div hr{
    margin-block: 10px;
}

.news-date{
    text-align: center;
    margin: auto;
    display: flex;
}

.news-date>div{
    display: flex;
    justify-content: center;
}


.section-qui>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    flex-wrap: wrap;
}

.section-qui>div>p{
    width: 720px;
    font-size: 20px;
    margin-inline: 40px;
}

.section-qui>div>img{
    width: 360px;
    height: 240px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3);
}



.clients {
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}

hr{
    margin: 100px;
}

.section-clients>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.section-clients>ul>li>div {
    border-radius: 0 0 30px 30px;
    padding-bottom: 5px;
    min-height: 350px;
    max-width: 300px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.3);
}

.section-clients>ul>li>div>img{
    width: 300px;
    height : 180px;
    object-fit: cover;
    border-radius: 0px;
}

.section-clients>ul>li>div>h2{
    text-align: center;
}

.section-clients>ul>li>div>h2, .section-clients>ul>li>div>p{
    margin-inline: 14px;
    margin-block: 5px;
}


.section-clients>ul>li>div>hr{
    margin-inline: 30px;
    margin-block: 10px;
}










footer{
    text-align: center;
    background-color: antiquewhite;
    height: 20px;
    padding: 20px;

}

footer>p{
    vertical-align: center;
}
