body {
    font-family: Arial, sans-serif;
    padding-inline: 20px;
    max-width: 900px;
    margin-inline: auto;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.nav-links-list{
    display: flex;
    gap: 20px;
    font-size: 24px;
    padding-right: 50px;
}

.navlink{
    color: rgb(2, 72, 133);
}


nav > img {
    width: 200px;
    height: auto;
}
