* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links-list {
    display: flex;
    gap: 20px;
    font-size: 24px;
    padding-right: 50px;
}

.navlink {
    color: rgb(2, 72, 133);
}

nav>img {
    width: 200px;
    margin: 10px;
}




.div-bienvenue {
    background-image: url(bienvenue.png);
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.accueil-texte {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 120px;
    margin-left: 100px;
}

.accueil-nom {
    font-size: 30px;
    color: rgb(206, 206, 206);
}

.accueil-slogan {
    font-size: 60px;
    color: white;
    margin-top: 10px;
}




section{
    margin-inline: 80px;
    margin-block: 60px;
}


.clients {
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.section-clients>ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-clients>ul>li>div {
    border: 3px solid black;
    margin-inline: 15px;
    border-radius: 0 0 40px 40px;
    padding-bottom: 5px;
    min-height: 350px;
    max-width: 300px;
    box-shadow: 0px 5px 20px 1px rgb(192, 192, 192);
}

.section-clients>ul>li>div>img{
    width: 300px;
    height : 180px;
    object-fit: cover;
    border-radius: 0px;
}

.section-clients>ul>li>div>h2{
    text-align: center;
}

.section-clients>ul>li>div>h2,p{
    margin-inline: 14px;
    margin-block: 5px;
}

.section-clients>ul>li>div>hr{
    margin-inline: 30px;
    margin-block: 10px;
}